<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>334202422131-nbekigfmp3hialkmefn3qgfn8tho7tqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334202422131-nbekigfmp3hialkmefn3qgfn8tho7tqm</string>
	<key>API_KEY</key>
	<string>AIzaSyBV2nQR6L2kxYc2XAoY3zII1y6fMcJc-Ss</string>
	<key>GCM_SENDER_ID</key>
	<string>334202422131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.unal.aguiterrezt.Sokol</string>
	<key>PROJECT_ID</key>
	<string>sokolunal-67359</string>
	<key>STORAGE_BUCKET</key>
	<string>sokolunal-67359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:334202422131:ios:cf16935d37a3be50</string>
	<key>DATABASE_URL</key>
	<string>https://sokolunal-67359.firebaseio.com</string>
</dict>
</plist>